{% extends 'base.html.twig' %}

{% block title %}Nutrition index{% endblock %}

{% block body %}
    <h1>Nutrition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Engery</th>
                <th>Fat</th>
                <th>Protein</th>
                <th>Carbs</th>
                <th>Sugar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nutrition in nutrition %}
            <tr>
                <td>{{ nutrition.id }}</td>
                <td>{{ nutrition.engery }}</td>
                <td>{{ nutrition.fat }}</td>
                <td>{{ nutrition.protein }}</td>
                <td>{{ nutrition.carbs }}</td>
                <td>{{ nutrition.sugar }}</td>
                <td>
                    <a href="{{ path('app_nutrition_show', {'id': nutrition.id}) }}">show</a>
                    <a href="{{ path('app_nutrition_edit', {'id': nutrition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nutrition_new') }}">Create new</a>
{% endblock %}
